@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
header {
  background: #fff7e6 !important;
  padding: 8px 50px !important;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  /* position: fixed;
  top: 0;
  left: 0; */
  height: 71px !important;
  justify-content: space-between;
}

.menu-item a {
  color: #d97706 !important;
  font-size: 16px;
}

.ant-btn-text:hover,
.ant-btn-text:focus {
  color: #b45309 !important;
  background: transparent !important;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 10px;
  height: 61px;
}

.header-menu {
  width: -webkit-fill-available;
  background: transparent;
  justify-content: center;
  border-bottom: none;
}

.header-menu .ant-menu-title-content a {
  color: #da7339 !important;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 700;
}

.header-icon {
  display: flex;
  gap: 10px;
}

.anticon-shopping-cart svg {
  width: 36px;
  height: 36px;
}

.header-icon button:hover,
.header-icon button:focus,
.header-icon button svg {
  border: none;
  outline: none;
}
