.user-info-container {
  background-color: #fff7e6;
  font-family: "Montserrat", sans-serif;
  padding: 20px 55px 65px 55px;
}

.user-sider {
  background-color: #ebd187 !important;
  padding: 20px;
  border-radius: 10px;
  flex: auto !important;
  max-width: max-content !important;
}

.user-details {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.user-name {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}

.user-email {
  font-size: 15px;
  color: #000;
  margin-bottom: 20px;
}

.sidebar-menu {
  background: none;
  border: none;
}

.menu-item {
  font-size: 15px;
  color: #2d1e1a !important;
  padding: 10px 0;
  background: none;
  border-radius: 15px !important;
  height: auto !important;
  line-height: normal !important;
  margin-bottom: 10px !important;
  font-family: "Montserrat", sans-serif;
}

.menu-item.active {
  background-color: #a8c56c;
  color: #fff;
}

.menu-item span {
  margin-right: 10px;
  color: #2d1e1a;
}

.content-col {
  background-color: #ebd187;
  padding: 20px;
  border-radius: 10px;
  min-height: 510px;
}

.content-header {
  font-size: 20px;
  color: #2d1e1a;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

.qr-code-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.qr-code {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.qr-text {
  font-size: 15px;
  color: #2d1e1a;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.qr-text p {
  margin: 5px 0;
}

.sidebar-menu .ant-menu-title-content {
  display: flex;
  /* justify-content: center; */
}

.user-details .ant-menu-item-selected {
  background-color: #a8c56c !important;
}

.anticon-container {
  margin-right: 0 !important;
}

.edit {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.edit svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-profile {
  font-size: 15px;
  color: #da7339;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.modal-edit-profile .ant-modal-content,
.modal-edit-contact .ant-modal-content {
  background-color: #efe6db;
}

.edit-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #2d1e1a;
  font-family: "Montserrat", sans-serif;
}

.modal-edit-profile .ant-form-item-required,
.modal-edit-profile .ant-form-item-label,
.modal-edit-contact .ant-form-item-required,
.modal-edit-contact .ant-form-item-label {
  font-family: "Montserrat", sans-serif;
}

.modal-edit-profile .ant-form-item-required::before,
.modal-edit-contact .ant-form-item-required::before {
  display: none !important;
}

.modal-edit-profile .ant-input,
.modal-edit-contact .ant-input {
  background: #ebd187;
  font-family: "Montserrat", sans-serif;
}
.update-profile-btn,
.update-contact-btn {
  background-color: #78a243 !important;
  color: white !important;
  border: none !important;
  outline: none !important;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.contact-card .edit-contact-icon {
  position: absolute;
  right: 20px;
  top: 14px;
}

.select-date-of-birth {
  width: 100%;
  background: #ebd187;
  height: 40px;
  font-family: "Montserrat", sans-serif;
}
