.staff-sidebar .ant-menu-item-selected {
  background-color: #1e40af !important;
}

.staff-sidebar .ant-menu-item:hover {
  background-color: #60a5fa !important;
}

.staff-sidebar .ant-menu-submenu-title:hover {
  background-color: #60a5fa !important;
}

.staff-sidebar .ant-menu-item-selected .ant-menu-item-icon {
  color: #fff !important;
}

.staff-sidebar .ant-menu-item .ant-menu-item-icon {
  color: #e8f5e9 !important;
}

.staff-sidebar .ant-menu-submenu-title .ant-menu-item-icon {
  color: #e8f5e9 !important;
}

.staff-sidebar .ant-menu-item-selected .ant-menu-title-content {
  color: #fff !important;
}

.staff-sidebar .ant-menu-item .ant-menu-title-content {
  color: #e8f5e9 !important;
}

.staff-sidebar .ant-menu-submenu-title .ant-menu-title-content {
  color: #e8f5e9 !important;
}

.staff-sidebar .ant-menu-submenu-arrow {
  color: #e8f5e9 !important;
}

.staff-sidebar .ant-menu-submenu-selected .ant-menu-submenu-arrow {
  color: #fff !important;
}
