.staff-sidebar .ant-menu-item-selected {
  background-color: #d97706 !important; /* amber-800 */
}

.staff-sidebar .ant-menu-item:hover {
  background-color: #f1cd57 !important; /* amber-200 */
}

.staff-sidebar .ant-menu-submenu-title:hover {
  background-color: #fde68a !important; /* amber-200 */
}

.staff-sidebar .ant-menu-item-selected .ant-menu-item-icon {
  color: #fff !important;
}

.staff-sidebar .ant-menu-item .ant-menu-item-icon {
  color: #fefce8 !important; /* amber-25 */
  margin-right: 12px;
}

.staff-sidebar .ant-menu-submenu-title .ant-menu-item-icon {
  color: #fefce8 !important; /* amber-25 */
}

.staff-sidebar .ant-menu-item-selected .ant-menu-title-content {
  color: #fff !important;
}

.staff-sidebar .ant-menu-item .ant-menu-title-content {
  color: #fefce8 !important; /* amber-25 */
}

.staff-sidebar .ant-menu-submenu-title .ant-menu-title-content {
  color: #fefce8 !important; /* amber-25 */
}

.staff-sidebar .ant-menu-submenu-arrow {
  color: #fefce8 !important; /* amber-25 */
}

.staff-sidebar .ant-menu-submenu-selected .ant-menu-submenu-arrow {
  color: #fff !important;
}
